<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Free CRM Application Test Automation Test Suite">

	<listeners>
		<listener
			class-name="com.qa.ExtentReportListener.ExtentReportListener" />
	</listeners>


	<test name="Free CRM Test Cases">
		<classes>
			<class name="com.crm.qa.testCases.LoginPageTest" />
			<class name="com.crm.qa.testCases.HomePageTest" />
			<class name="com.crm.qa.testCases.ContactsPageTest" />
		</classes>
	</test>
</suite>
